nav ul{
    float: right;
    list-style: none;
}

nav li {
    float: left;
    margin-left: 15px;
    
}

body {
    background-color: #CEE9F2;
}

.article {
    border: 1px solid #ffdead;
    color: goldenrod;
}

#intro {
    font-size: 3em;
}





.clearfix:after {
    content: "";
    display: table; 
    clear: both; 
  }


